$font-family: "Inter", sans-serif;

@mixin font-heading1{
    font-family: $font-family;
    font-size: 3rem;
    font-weight: bolder;
    line-height: 1.2;
}

@mixin font-heading2{
    font-family: $font-family;
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.2;
}

@mixin font-heading3{
    font-family: $font-family;
    font-size: 2rem;
    line-height: 1.2;
}

@mixin font-body{
    font-family: $font-family;
    font-size: 1rem;
    line-height: 1.5;
}

@mixin font-button{
    font-family: $font-family;
    font-size: 1rem;
    font-weight:normal;
    line-height: 1.2;
}